@import url('https://v1.fontapi.ir/css/Yekan');
html{
    box-sizing: border-box;
}
body{
    font-family: Yekan ;
    font-size: 14px;
}
.nvf-form{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 0 auto;
}
.nvf-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nvf-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #EBECEC;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
}
.nvf-field-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
}
.nvf-field-wrapper .nvf-input , .nvf-field-wrapper select , .nvf-wrapper.total-gross-income-wrapper input{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-family: Yekan;
    font-size: 14px;
}
.nvf-field-wrapper input[type="radio"]{
    -ms-transform: scale(1.35); /* IE 9 */
  -webkit-transform: scale(1.35); /* Chrome, Safari, Opera */
  transform: scale(1.35);
  accent-color: #232323;
}
.nvf-radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.nvf-radio-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.nvf-wrapper.total-gross-income-wrapper{
    background-color: #D9F1F1;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}
.nvf-wrapper.total-gross-income-wrapper input{
    width: 30%;
}
.nvf-wrapper.nvf-installments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nvf-caption{
    color: red;
}
.nvf-wrapper.nvf-final{
    background-color: #FADFDF;
}
.nvf-wrapper.nvf-final .nvf-input{
    border: 2px dashed #FC1B1B;
    background-color: transparent;
}
.nvf-wrapper.nvf-net-salary{
    background-color: #E0FBC5;
    grid-template-columns: 1fr;
}
.nvf-wrapper.nvf-net-salary .nvf-input{
    background-color: transparent;
    border: 2px dashed #7ED664;
}
.nvf-wrapper.nvf-more-info{
    grid-template-columns: 1fr 1fr;
}
.nvf-btn-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.nvf-btn-wrapper .get-information , .nvf-btn-wrapper .remove-information{
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
    font-family: Yekan
}
.nvf-btn-wrapper .get-information{
    background-color: #58D803;
}
.nvf-btn-wrapper .remove-information{
    background-color: #FA0A36;
}